<h1>All Flights</h1>
<a href=planes>Go To Planes</a>
<h3>Create a flight</h3>
<%= form_for @flight do |f|%>
  <strong> Origin: </strong><%= f.text_field :origin %><br>
  <strong> Destination: </strong><%= f.text_field :destination %><br>
  <strong> Date: </strong>
  <%= f.date_field :date %><br>
  <strong> plane: </strong><%= f.select :plane_id, @planes %><br>

  <%= f.submit %>
<% end %>

<ul>
  <% @flights.each do |flight| %>
    <li>
      <%= flight.date %> - <%= flight.id %> - <%= flight.origin %> > <%= flight.destination %> - <%= flight.plane.name %> <%= flight.plane.rows*flight.plane.columns-flight.reservations.length %>
    </li>
  <% end %>
</ul>
